* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/static/web-resource/1731989158790.jpg'); /* 替换为你的图片路径 */
    background-size: cover; /* 图片覆盖整个背景 */
    background-repeat: no-repeat; /* 防止图片重复 */
}

.chat-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chat-container.hidden {
    display: none;
}

.chat-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    max-width: 350px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height:400px;
}

.chat-header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-box {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    flex-grow: 1;
}

.input-area {
    display: flex;
    padding: 8px;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.message {
    margin-bottom: 10px;
}

.message.user {
    text-align: right;
    color: #4CAF50;
    word-wrap: break-word;
}

.message.bot {
    text-align: left;
    color: #333;
    word-wrap: break-word;
}

.upload-icon {
  width: 25px;
  height: 50px;
  border: none;
  font-size: 23px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
}
 .upload-icon:hover {
      background: none; /* 保持背景透明 */
      border: 2px solid transparent; /* 保持边框透明 */
      color: black; /* 字体颜色不变 */
 }